@use '../../../shared/styles/vars' as *;
@use '../../../shared/styles/mixins' as *;

.blog_card {
    display: flex;
    gap: 25px;

    .blog_card_text {
        display: grid;
        align-items: center;
        justify-content: center;

        .blog_card_title {
            max-width: 316px;
            
            @include textStyle($size: 24px, $weight: 600, $color: $black, $lineHeight: 36px)
        }

        .blog_card_post_desc {
            @include textStyle($size: 16px, $weight: 400, $color: rgba(151, 151, 151, 1), $lineHeight: 24px)
        }

        .blog_card_text_about_post {
            display: flex;
            
            align-items: center;
            gap: 32px;

            & > span {
                display: inline-flex;
                align-items: center;
                @include textStyle($size: 12px, $weight: 400, $color: rgba(151, 151, 151, 1), $lineHeight: 16px)
            }
        }
    }
}