@use '../../../styles/mixins' as *;
@use '../../../styles/vars' as *;

.footer_content_wrapper {
    background: $gray;

    width: 100%;
    max-height: 404px;
    height: 404px;
    display: grid;
    align-items: center;
    justify-items: center;

    .footer_content {
        
        display: flex;
        
        gap: 64px;

        @include textStyle($color: #979797);
        .title {
            @include textStyle($color: $black, $size: 18px, $weight: 500, $lineHeight: 28px);
            user-select: none;
        }
        ul {
            list-style: none;
        }

        a {
            @include textStyle($color: #979797);
            
        }
        .footer_slogan_content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 32px;
            .footer_logo {
                max-width: 87px;
                max-height: 35px;
                vertical-align: bottom;
            }
            .footer_slogan {
                display: inline-block;
                max-width: 305px;
            }

            .social_links {
                display: flex;
                gap: 32px;
            }
        }

        .footer_nav {
            display: flex;
            gap: 64px;

            .footer_nav_content {
                .footer_nav_content_title{
                    padding-bottom: 20px;
                }
                .footer_nav_content_links_wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                }
            }
        }
    }
}

