@use '../../../shared/styles/vars' as *;
@use '../../../shared/styles/mixins' as *;


.popular_desctination_card {
    max-width: 200px;
    height: 242px;

    width: 100%;
    

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 8px;

    

    .popular_desctination_card_text_wrapper {
        width: 100%;
        max-height: 40px;
        height: 100%;

        .popular_desctination_card_text_title {
            @include textStyle($size: 16px, $weight: 500, $color: $black);
        }

        .popular_desctination_card_text_location {
            @include textStyle($color: rgba(151, 151, 151, 1));
        }
    }
}