@use './vars' as *;

@mixin textStyle($size: 14px, $weight: 400, $color: $white, $lineHeight: 20px) {
    font-family: $defaultFont;

    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $lineHeight;
}