@use '../../../styles/mixins' as *;
@use '../../../styles/vars' as *;

.header_content {
    width: 100%;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;

    a {
        @include textStyle($weight: 200);
        transition: color 100ms ease-in-out;
        &:hover {
            color: $purple;
        }
    }

    .header_nav {
        .header_nav_items_list {
            list-style: none;

            display: flex;
            flex-direction: row;
            gap: 35px;
        }
    }
}

